/* -------------------- MAIN PAGE BUTTONS --------------------  */
.btn-success {
    background-color: var(--dark-green);
    border-radius: 5px;
    width: 130px;
    height: 45px;
    margin: auto;
    border: transparent;
    transition: all .8s ease-in-out;
}

.btn-success:focus,
.btn-success:hover {
    border: 1px solid white;
    background-color: var(--dark-green-hover);
}

.last-game {
  width: 250px;
}

/* -------------------- SEARCH PAGE BUTTONS --------------------  */
  .btn-warning {
    padding: 0px;
    width: 50px;
  }
  
  .balloon-ico {
    width: 35px;
  }

  .card button {
      border-radius: 30px;
  }

/* -------------------- DREAM-MATCH PAGE BUTTONS --------------------  */
  .dm-confirm-btn {
    display: grid;
  }

  .dm-confirm-btn button {
    width: 300px;
  }