.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-items: center;
}

.card {
    width: 250px;
    margin: auto;
    background: url(../assets/img/card_bcg.svg);
    border: 1px solid whitesmoke;
    transition: all .4s ease-in-out;
}

.card:hover,
.card:focus {
    background: url(../assets/img/card_bcg_hover.svg);
}

.card img {
    width: 150px;
    margin: auto;
    border-radius: 50%;
    border: 3px solid grey;
}

.card button {
    width: 150px;
    margin: auto;
}

.card-title {
    font-weight: bold;
}

.footer-helper {
  min-height: 33vh;
}



  /* -------------------- MEDIAQUERIES --------------------  */
@media screen and (max-width: 810px) and (orientation: portrait){
    /*  */
}