.navbar-container {
    padding: 5px 0;
    height: 7vh;
  }
  
  .navbar-button {
    border: none;
    background-color: none;
  }
  
  .navbar-logo {
    width: 45px;
    padding-bottom: 0%;
    }
  
  .navbar-title {
    color: var(--bg-main);
    margin: auto;
    font-family: 'Kalam', cursive;
  }

  /* MEDIAQUERIES */
@media screen and (max-width: 810px) and (orientation: portrait){
  .navbar-container {
    padding: 0px;
  }

  .navbar-logo {
    width: 35px;
  }
}